body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  /* Enlaza la tipografia Open Sans */
}

/* Contenedor Flexbox*/

.flex-container{
	display: flex;
}

/* Estilos del menu para dejarlo fijo en la parte superior y que ocupe todo el ancho de la pantalla*/
.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

a:hover {
  color: #E95853;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block; /* crear cajas que son de bloque  */
}

#home{
	height:600px; 
	margin-top:70px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

/* despliegue del contenido en forma vertical*/
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: whitesmoke;
}

.text-home{
	font-size: 2.4em;
}

/* boton services*/

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 10px;
  font-weight: 500px;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

/* seccion services*/

#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px;
}

#services.flex-container{
	justify-content: space-around; /* elementos internos dentro de la pantalla dejando un espacio a cada lado*/
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

#productos #work.flex-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}